@font-face {
    font-family: SF Outer Limits;
    src: url('../font/SF\ Outer\ Limits.ttf');
}

body{
    background-color: black;
}

/* header */
.navbar-brand{
    font-family: SF Outer Limits, Arial, Helvetica, sans-serif;
}


.seriesList{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.carousel{
    height: 20rem;
}